.img-box {
  max-width:1400px;
}

.img-box > .section-1 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-1.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-1::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 838);
}

.img-box > .section-2 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-2.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-2::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 639);
}

.img-box > .section-3 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-3.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-3::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 566);
}

.img-box > .section-4 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-4.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-4::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 906);
}

.img-box > .section-5 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-5.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-5::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 862);
}

.img-box > .section-6 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-6.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-6::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 924);
}

.img-box > .section-7 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-7.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-7::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 2656);
}

.img-box > .section-8 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-8.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-8::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1430);
}

.img-box > .section-9 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-9.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-9::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1980);
}

.img-box > .section-10 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/aa-10.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-10::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 2176);
}

.img-box > .section-10 > .img-1 {
  position:absolute;
  top:54.8%;
  left:0%;
}

.img-box > .section-10 > .img-1 > img {
  height:auto;
  width:50vw;
  max-width:1601px;
}

.img-box > .section-11 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/ab-11.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-11::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 2372);
}

.img-box > .section-11 > .img-2 {
  position:absolute;
  top:2.8%;
  left:17%;
}

.img-box > .section-11 > .img-2 > img {
  height:auto;
  width:40.3vw;
  max-width:1200px;
}
.img-box > .section-11 > .img-3 {
  position:absolute;
  top:51.5%;
  left:10.65%;
}

.img-box > .section-11 > .img-3 > img {
  height:auto;
  width:31.3vw;
  max-width:240px;
}
.img-box > .section-11 > .img-4 {
  position:absolute;
  top:51.5%;
  left:74.3%;
}

.img-box > .section-11 > .img-4 > img {
  height:auto;
  width:62.3vw;
  max-width:270px;
}
.img-box > .section-11 > .img-5 {
  position:absolute;
  top:82.9%;
  left:5.9%;
}

.img-box > .section-11 > .img-5 > img {
  height:auto;
  width:62.3vw;
  max-width:310px;
}
.img-box > .section-11 > .img-6 {
  position:absolute;
  top:82.9%;
  left:74.6%;
}

.img-box > .section-11 > .img-6 > img {
  height:auto;
  width:62.3vw;
  max-width:240px;
}

.img-box > .section-12 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-12.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-12::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1183);
}

.img-box > .section-13 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-13.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-13::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 4172);
}

.img-box > .section-13 > .img-7 {
  position:absolute;
  top:7.9%;
  left:63.1%;
}

.img-box > .section-13 > .img-7 > img {
  height:auto;
  width:20.6vw;
  max-width:296.625px;
}

.img-box > .section-13 > .img-8 {
  position:absolute;
  top:55.9%;
  left:14.8%;
}

.img-box > .section-13 > .img-8 > img {
  height:auto;
  width:20.6vw;
  max-width:296.625px;
}

.img-box > .section-14 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-14.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-14::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 2458);
}

.img-box > .section-14 > .img-9 {
  position:absolute;
  top:11.9%;
  left:9.5%;
}

.img-box > .section-14 > .img-9 > img {
  height:auto;
  width:20.6vw;
  max-width:296.625px;
}

.img-box > .section-14 > .img-10 {
  position:absolute;
  top:11.9%;
  left:41%;
}

.img-box > .section-14 > .img-10 > img {
  height:auto;
  width:20.6vw;
  max-width:296.625px;
}

.img-box > .section-14 > .img-11 {
  position:absolute;
  top:11.9%;
  left:72.5%;
}

.img-box > .section-14 > .img-11 > img {
  height:auto;
  width:20.6vw;
  max-width:296.625px;
}

.img-box > .section-14 > .img-12 {
  position:absolute;
  top:20.5%;
  left:30.9%;
}

.img-box > .section-14 > .img-12 > img {
  height:auto;
  width:9.6vw;
  max-width:138px;
}

.img-box > .section-14 > .img-13 {
  position:absolute;
  top:31.8%;
  left:62.8%;
}

.img-box > .section-14 > .img-13 > img {
  height:auto;
  width:9.1vw;
  max-width:126px;
}

.img-box > .section-15 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-15.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-15::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 2458);
}

.img-box > .section-15 > .img-14 {
  position:absolute;
  top:15%;
  left:63.5%;
}

.img-box > .section-15 > .img-14 > img {
  height:auto;
  width:20.6vw;
  max-width:296.625px;
}

.img-box > .section-16 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-16.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-16::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 2458);
}

.img-box > .section-17 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-17.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-17::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1905);
}

.img-box > .section-18 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/jiseon5154/JISEON-PROJECT/master/docs/resource/a-18.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-18::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 981);
}